#cart
{
    overflow-x: auto !important;
}
#cart table img
{
    width:70%;
}
#cart table
{
    width:100% !important;
    border-collapse: collapse !important;
    table-layout:fixed !important;
    white-space:nowrap !important;
}
#cart table td:nth-child(1)
{
    width:20% !important;
    text-align:center !important;
}
#cart table td:nth-child(2)
{
    text-align:left !important;
    width: 20% !important;
}
#cart table td:nth-child(3)
{
    width:20% !important;
    text-align:center !important;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5)
{
    width: 15% !important;
    text-align:center !important;
}
#cart table td:nth-child(5) input
{
    width: 70% !important;
   
}
th,td
{
    font-size:1.7vw !important;
   
}
#banner h5{
    color:#dec475 !important;
    font-weight: 700;
    font-size: 6vw !important;
}
#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner p
{
    color:white !important;
    font-size: 3vw;
}