@import url("../components/navbar/nav.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for background image and position  */
.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;

}
@media(max-width:400px){
    .form-box {
        width: 80vw;}
}
@media(min-width:401px){
    .form-box {
        width: 400px;}
}
.form-box {
    height: 550px;
    /* height: 100%; */
    position: relative;
    top: 10%;
    background: rgba(114, 113, 113, 0.3);
    padding: 10px;
    overflow: hidden;

}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-weight: bold;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #272624;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #272624;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.check-box {
    margin: 30px 10px 34px 0;
}

span {
    color: #020202;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: white;
    font-size: 15;
}

#register {
    left: 450px;
}

#register input {
    color: white;
    font-size: 15;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(56, 49, 49);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(56, 49, 49);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(56, 49, 49);
}

/* error msgs for login  */
.error-msg-email,
.error-msg-passwd {
    color: #f00;
    margin: 0 0 10px 10px;
    display: none;
}

/* error msgs for register  */
.error-msg-email-R,
.error-msg-passwdcn,
.error-msg-passwd-R {
    color: #f00;
    margin: 0 0 10px 10px;
    position: relative;
    left: "50px";
    display: none;
}
