:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --yellow-color: #ffc400;
}

body {
    font-family: 'El Messiri', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}

/* start nav css */

.navbar {
    background-color: white;
}

/* end nav css  */

/* start product css */

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct select {
    display: block;
    padding: 5px 10px;
}

.sproduct input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn {
    opacity: 1;
    transition: 0.3s all;
}

/* end product css  */

/* start related product css  */

.main-title ::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: rgb(218, 216, 132);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* end related product css  */

/* start footer css */

.footer {
    background-color: var(--dark-color);
}

.footer .copyright>span {
    color: var(--green-color);
}

.footer .copyright div span {
    color: var(--yellow-color);
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer li {
    cursor: pointer;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}

/* end footer css  */