@import url("cart.css");
@import url("../components/navbar/nav.css");
@import url("../components/footer/footer.css");
@import url("../components/ProductCard/product.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    /* border:3px solid red !important ;  */
    border: none;
    outline: none;
}

body {
    width: 100%;
}



/* Home Page */
#hero {
    background-image: url("../images/1.png");
    height: 50vh;
    width: 100%;
    padding: 15px 70px;
    color: #bedfb9;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #464545;
}

h2 {
    padding-top: 30px;
    font-size: 50px;
    line-height: 64px;
    color: #464545;
}

h4 {
    font-size: 20px;
    color: #464545;
}

#hero button {
    color: rgb(61, 105, 120);
    background-color: black;
    font-size: 30px;
    font-weight: bold;
}


.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color:#6759ff;
}

#search-container button
{
   padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.my-button {
    border: 2px solid #6759ff;
    padding: 1em 1.4em;
    border-radius: 3rem;
    background:transparent;
    color: #6759ff;
    cursor: pointer;
}

.active-search
{
    background-color:#6759ff ;
    color: white;
}

.hide
{
    display: none;
}

#product1 .myproduct-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
   
}
/* ------------------------ */
/* banner */
#sm-banner{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 125px;
    padding-right: 120px;
    justify-content:space-around;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image:url("../images/b17.png");
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image:url("../images/b10.png");
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

/*About Us and Contact Us*/
#about-head, #contact-head{
    background-image: url("../images/about/banner.png");
    height: 50vh;
    width: 100%;
    color:#dec475;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-head h1, #contact-head h1{
    color:#dec475;
    font-weight: 700;
    font-size: 4vw;
}
.div1 {
    width: 0px;
    height: 15vh;
    background-image: linear-gradient(to left,#343d52,#084365 ,#353e54);
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes example {
    0%   {}
    25%  {width: 25%;}
    50%  { width: 100%;}
    75%  { width: 100%;}
    100% { width: 100%;}
  }

.container div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-weight: 700;
    font-size: 3vw;
    color: black;
}
.container p{
    font-size: 1vw;
}

/*contact page*/
.contact li{
    list-style: none;
    display: flex;
    padding: 1vh;
    font-size: 1.4vw;
    font-weight: 300;
}
.contact li i{
    padding-right: 4%;
}
.Form_container{
    display: flex;
    flex-direction: column;
    padding: 3%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.Form_details input, textarea{
    width: 100%;
    margin: 1%;
    padding: 1.5%;
    outline: none;
    border: 1px solid #e1e1e1;
}
.Form_details button{
    background-color: #088178;
    color: #fff;
    width: 10%;
    height: 5vh;
    font-size: 1vw;
}
