@import url("../components/navbar/nav.css");
@import url("../components/footer/footer.css");
@import url("../components/ProductCard/product.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    /* border:3px solid red !important ;  */
    border: none;
    outline: none;
}

body {
    width: 100%;
}



/* Home Page */
#hero {
    background-image: url("../images/1.png");
    height: 50vh;
    width: 100%;
    padding: 4% 3%;
    color: #bedfb9;
}

h1 {
    font-size: 3vw;
    /* line-height: 64px; */
    color: #464545;
}

h2 {
    padding-top: 1%;
    font-size: 3vw;
    /* line-height: 64px; */
    color: #464545;
}

h4 {
    font-size: 1.5vw;
    color: #464545;
}

#hero button {
    color: rgb(61, 105, 120);
    background-color: black;
    font-size: 30px;
    font-weight: bold;
}


.wrapper {
    width: 95%;
    margin: 0 auto;
}


/* ------------------------ */
/* banner */
#sm-banner{
    display: flex !important;
    padding-top: 3% !important;
    padding-bottom: 1% !important;
    padding-left: 3% !important;
    padding-right: 5% !important;
    justify-content:space-around !important;
    flex-wrap: wrap !important;
}
#sm-banner .banner-box a{
text-decoration: none;
color: white;
}
#sm-banner .banner-box{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    text-align: center !important;
    background-image:url("../images/b17.png");
    width: 40% !important;
    height: 40vh !important;
    background-size: cover !important;
    background-position: center!important;
    padding: 5%!important;
    margin: 1%;
}
#sm-banner .banner-box2{
    background-image:url("../images/b10.png");
}
/* @media (max-width :500px){
    h1 {
        font-size: 3vw;
        /* line-height: 64px; 
        color: #464545;
    }
    
    h2 {
        padding-top: 1%;
        font-size: 3vw;
        /* line-height: 64px; 
        color: #464545;
    }
    
    h4 {
        font-size: 1vw;
        color: #464545;
    }
} */
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding-bottom: 15px !important;
}
button.white {
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 11px 18px !important;
    color: #fff !important;
    background-color: transparent;
    border: 1px solid #fff!important;
    cursor: pointer !important;
}
#sm-banner .banner-box button:hover {
    background: #088178 !important;
    border: 1px solid #088178 !important;
}
@media(max-width:600px){
    .slide img{
        height: 40vh; }
        .my-button {
            font-size:2.6vw;
        }
}
@media(min-width:601px){
    .slide img{
        height: 70vh; }
        .my-button {
            font-size:2vw;
        }
}
.slide img{
        width: 100%;
        /* height: 70vh;*/
     } 
    
    .slide{
        display: none;
        /* height: 10%; */
    }
/* product*/
#search-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    }
    
#search-container input {
        background-color: transparent;
        width: 50vw;
        border-bottom: 2px solid #110f29;
        margin: 5vw ;
        font-size:3vw;
    }
    
#search-container input:focus {
        border-bottom-color:hwb(46 38% 18%);
    }
    
#search-container button
    {
       padding: 1em 2em;
      margin-left: 1em;
      background-color: #d1b761;
      color: #ffffff;
      border-radius: 5px;
      margin-top: 0.5em;
    }
    
.my-button {
    
        padding: 1vw;
        background:transparent;
        color: black;
        cursor: pointer;
        /* font-size:2vw; */
        font-weight: 200;
        width: 90%;
    
    }
    #filter,#search
    {
     background:transparent !important;
     color:#d1b761 !important;
     font-size:6vw !important;
    }
    #search
    {
     margin-left: 5vw;   
    font-size:4vw !important;
    }
    hr
    {
    color:#d1b761;
    width:80%;
    margin: auto;
    }
    
    .active-search
    {
        color:#d1b761 ;
    }
    
    .hide
    {
        display: none;
    }
    
    #product1 .myproduct-container{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        flex-wrap: wrap;
       
    }
    #product1 p
    {
        font-size: 2.5vw;
    }
    #product1 h2
    {
        font-size: 5vw;
    } 

