@import url("../components/navbar/nav.css");
@import url("../components/ProductCard/product.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
    width: 100%;
}



/* Home Page */
#hero{
    background-image: url("../images/1.png");
    height: 50vh;
    width: 100%;
    color: #bedfb9; 
     /* background-size: cover;
    background-position: top 0% right 0%; */
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
} 
h1{
    font-size: 50px;
    line-height: 64px;
    color:#464545;
}
h2{
    padding-top: 30px;
    font-size: 50px;
    line-height: 64px;
    color:#464545;
}
h4{
    font-size:  20px;
    color:#464545;
}
#hero button{
    color: rgb(61, 105, 120);
    background-color: transparent;
    font-size: 30px;
    border: transparent;
    font-weight: bold;
}
/* banner */
#sm-banner{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 125px;
    padding-right: 120px;
    justify-content:space-around;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image:url("../images/b17.png");
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image:url("../images/b10.png");
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}


/* footer */
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 117px;
    padding-top: 10px;
    background-color: #e4e4e4;
}

footer .col{
   display: flex;
   flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-top: 40px;
}

footer .col1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right:4px;
    cursor: pointer;
}
footer .install .row img{
    border : 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    margin : 10px 0 15px 0;

}
footer .follow i:hover,
footer a:hover {
    color:#088178
}

@media (max-width:477px) {
    #hero{   
        padding: 0px 0px;
        background-position: top 0% left 25%;
    }
    #product1 h2 {
        padding-top: 25px;
        margin-left: -5px;
    }
    p{
    margin: 15px -8px 20px 0;
    }
    .section-p1 {
        padding-left: 0px;
        padding-right: 18px;
    }
    #sm-banner{
        display: block;
        padding-left: 0px;
        padding-right: 120px;
        padding-top: 33px;
    }
    footer{
        padding-left: 35px;
        padding-top: 29px;
    }
    footer .col {
        padding-top: 5px;
    }
    


    /* #sm-banner{
        min-width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
/* } */
  /*  }
    #sm-banner .banner-box{
        margin-top: 20px;
    }*/
 
}

