#product1{
    text-align: center;
}
#product1 h2{
    padding-top: 50px;
    margin-left: 10px;
}
#product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
   
}
#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 5px 1px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.02);
    margin: 15px 15px;
    color: #000;
    position: relative;

}
#product1 .pro:hover
              { border-radius:10%;
               opacity: 1;
               object-fit: fill;
               transform: scale(1.1)
              }

#product1 a{
    font-weight: 500;
    color: #000;
}
#product1 .pro img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: center;
    padding:  10px 0;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

