#header{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0px 80px !important;
    background: #fdfffb !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06) !important;
    z-index: 999 !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
}
#navbar{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
#navbar li{
    list-style: none !important;
    padding: 0px 19px !important;
    padding-top: 20px !important;
    position: relative !important;
}

#navbar li a{
    text-decoration: none !important;
    font-size:  16px !important;
    font-weight:600 !important;
    color:rgb(0, 0, 0) !important;
}

#navbar li a:hover,
#navbar li a.active{
color: rgb(61, 105, 120) !important;
}

#navbar li a.active::after{
    content:"" !important;
    bottom: -4px !important;
    width: 55% !important;
    height: 2px !important;
    background: rgb(61, 105, 120) !important;
    position: absolute !important;
    left: 20px !important;
}
#mobile,
#close{
    display: none !important;
}

/*media Query for home*/
@media (max-width:799px) {
    .section-p1{
        padding-left: 10px !important;
    }
    #navbar {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        position: fixed !important;
        top: 0 !important;
        right: -300px !important;
        height: 100vh !important;
        width: 300px !important;
        background-color: #fdfffb !important;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1) !important;
        padding: 80px 0 0 10px !important;
        transition: 0.3s !important;

    }
    #navbar li a:hover{
        color: rgb(61, 105, 120) !important;
    }   
    #navbar li{
        margin-bottom:25px !important;
    }
    #mobile{
        display: flex !important;
    }
    #mobile a{
        color: #1a1a1a !important;
    }
    #mobile i{
        color: #1a1a1a !important;
        font-size: 24px !important;
        padding-left: 20px !important;
    }
    #navbar.active{
        right: 0px !important;
    }
    #close{
        display: flex !important;
        position: absolute !important;
        top: 30px !important;
        color: #1a1a1a !important;
    }
    #lg-bag{
        display: none !important;
    }
    #hero{
    height: 50vh !important;
    padding: 12px 70px !important;
    background-position: top 0% left 20% !important;
    }
    #hero .res2{
        padding-left: 10px !important;
        font-size: 27px !important;
    }
    #hero .res1{
        padding-left: 10px !important;
        font-size: 35px !important;
    }
    #hero .res{
        font-size:  17px !important;
        padding-left: 10px !important;
    }
    .section-p{
        display: block !important;
    } 
    .section-p h4 {
        font-size: 14px !important;
        font-weight: 600 !important;
        padding-bottom: 1px !important;
    }
 
    #sm-banner .banner-box {
        min-width: 100% !important;
        height: 30vh !important;
    }
    
    #sm-banner{
        min-width: 100% !important ;
        padding-top: 50px !important;
        padding-bottom: 20px !important;
        padding-left: 0px !important;
        padding-right: 1111px !important;
    }
}
@media (max-width:477px) {
    #header {
        padding: 0px 30px 0px 0px;
    }
}

