/* footer */
p{
    /* font-size: 16px; */
    color: #465b52;
    /* margin: 15px 0 20px 0; */
}
@media (max-width :600px){
    footer h4{
        font-size: 2.5vw;
    }
    footer p{
        font-size: 2.8vw;
    }
    footer a{
        font-size: 2.8vw;
    }
}
@media (min-width :601px){
    footer p{
        font-size: 0.9vw;
    }
    footer a{
        font-size: 0.9vw;
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 10px;
    background-color: #e4e4e4;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border: 1px solid #e4e4e4;
}

/* .footer_install{
padding-bottom: 0px;
margin-bottom: 0%;
border: 1px solid;
} */

footer .col{
   display: flex;
   flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-top: 40px;
}

footer .col1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    /* font-size: 1.1vw; */
    font-weight: 600;
    padding-bottom: 5%;
}
footer p{
    /* font-size: 0.9vw; */
    margin: 0 0 8px 0;
}

footer a{
    /* font-size: 0.9vw; */
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
/* footer .follow{
    margin-top: 20px;
} */
footer .follow i{
    color: #465b52;
    padding-right:4%;
    cursor: pointer;
}
footer .install .row img{
    border : 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    margin : 10px 0 15px 0;

}
footer .follow i:hover,
footer a:hover {
    color:#088178
}
/* -------------------- */